/* -----------------------------------  
    #Decalaration of Css Variables
----------------------------------- */
:root{
    --df-font-clr: #f7f5f6;
    --df-font: 'Roboto', Helvetica, sans-serif

}


/* -----------------------------------  
    #Global Styles
----------------------------------- */
body{
    padding: 0;
    margin: 0;
    color: var(--df-font-clr);
    font-family: var(--df-font);
}
.clr{
    clear: both;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

input,textarea,button{
    display: block;
    width: 100%;
}
input,textarea, button
{
    padding: calc(.2em + 1vh);
    margin-block: 1em;

}
::placeholder{
    text-transform: uppercase;
    font-size: calc(1vw + .8em);
}
.btn{
    background-color: rgb(0, 51, 102) ;
    color: #f7f5f6;
    border: none;
    font-size: calc(.4em + 1vh);
    text-transform: uppercase;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
}

.container{
    width: 90%;
    margin-inline: auto;
}
/* -----------------------------------  
    #Header
----------------------------------- */

header .bg-img{
    filter: blur(1px);
    background-image: url('../../assests/img/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header .content-wrapper{
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    padding-inline: calc(1em + 1vw);
    padding-block: calc(1em + 5vh);
    top: 45%;
    left: 10%;
    text-align: center;
    transform: translate(-5%, 0%);
    z-index: 10;
}
header h1{
    font-size: calc(2vw + 1em);
    margin-bottom: .30em;
}
header small{
    font-size: calc(1vw + .5em);
    letter-spacing: 2.5px;
}

header .social-media{
    margin-top: 1.1em;
    font-size: calc(1vw + .6em);
}
header i{
    margin-right: 1.5em;
}

/* -----------------------------------  
    #Section Global Styles
----------------------------------- */
section *{
    color: rgb(22, 21, 21);
}
section{
    padding-block: calc(2em + 10vh);
    border-bottom: 1px solid rgb(11, 111, 211);
}
section .heading{
    display: block;
    text-align: center;
}
section .content{
    margin-block: 1em;

}
section  h2{
    /* color: rgba(0, 51, 102, 0.788); */
    border-bottom: 2px solid rgba(11, 111, 211, 0.788);
    text-transform: uppercase;
    font-weight: 500;
    font-size: calc(1vw + .9em);
    display: inline-block;
    padding-bottom: .2em;
}
.content{
    line-height: 1.5em;
    font-weight: 300;
    text-align: center;
    font-size: calc(.8vw + .8em);
}

/* -----------------------------------  
    #Skills
----------------------------------- */
.skills i{
    display: block;
    font-size: calc(1vw + 1em);
    color: rgb(11, 111, 211);
}

.skills ul{
    flex-wrap: wrap;
    gap: 1em;
    font-size: 1em;
    margin-inline: 0;
    justify-content: center;
}
/* -----------------------------------  
    #Portfolio
----------------------------------- */
.portfolio .content{
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}
/* -----------------------------------  
#Contact
----------------------------------- */
.contact .contact-address{
    text-align: left;
    font-weight: 200;
    font-size: calc(.8em + .8vw);
    
}
.contact .content {
    flex-direction: column;
    gap: 2em;
}
.contact input,
.contact textarea{
    display: block;
}
/* -----------------------------------  
#Footer
----------------------------------- */
footer {
    color: grey;
    text-align: center;
    margin-block: 2.8em;
    font-size: calc(.7em + .7vw);
}
footer span{
    color: black;
}
footer i{
    margin-right: .7em;
}
footer .copyrights .upcc{
    text-transform: uppercase;
    margin-block: .7em;
}
.scroll-top *{
    float: right;
    background-color: rgb(0, 51, 102) ;
    color: #f7f5f6;
    font-size: calc(.7em + .2vw);
    padding: calc(.7em + .2vw);
    border-radius: 5px;
}
/* -----------------------------------  
#Media Queries
----------------------------------- */
@media (min-width: 550px){
/* -----------------------------------  
    #Header
----------------------------------- */
    header .content-wrapper{
        top: 50%;
        left: 30%;
        text-align: center;
        transform: translate(-20%, -50%);
        z-index: 10;
    }

    .portfolio .content{
        flex-direction: row;
        flex: 2 1 auto;
        gap: 1;
    }
    .portfolio img{
        width: max(300px, 15em);
    }

/* -----------------------------------  
    #Contact
----------------------------------- */

    .contact .content{
        flex-direction: row;
    }
    .contact .contact-form{
        width: 70%;

    }
    .contact .contact-address{
        width: clamp(300px, 15em, 100%);
        align-self: center;
    }
}